
.counter-container {
    background-color: black;
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 5rem auto;
    border-radius: 15px;
    padding: 1rem;
}

.digit {
    color: white;
    font-weight: bolder;
    font-size: 2.5rem;
    padding: 0.7rem 1rem;
}

.counter-controller {
    color: white;
    background-color: black;
    width: 20%;
    border-radius: 15px;
    padding: 1rem;
}

